# Permitir acceso a imágenes
<Files ~ "\.(jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</Files>

# Denegar acceso a otros tipos de archivo
<Files ~ "\.(php|html|js)$">
    Order deny,allow
    Deny from all
</Files>